<div class="main-content">
  <div class="container-fluid">
      <div class="row" *ngIf="!addNewCat">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Sub Categories</h4>
                  </div>
                  <div class="td-actions">
                      <button mat-raised-button type="button" class="btn btn-primary btn-round" (click)="getCategories()">
                          View Active
                      </button>
                      <button mat-raised-button type="button" class="btn btn-primary btn-round" (click)="getDeletedCategories()">
                          View Deleted
                      </button>
                  </div>

                  <div class="td-actions text-right">
                      <button mat-raised-button type="button" class="btn btn-primary btn-round" (click)="addCat()">
                          <i class="material-icons">add</i>
                      </button>
                  </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="material-datatables table-responsive">
                          <table id="datatables" class="table table-striped table-no-bordered table-hover"
                              cellspacing="0" width="100%" style="width:100%">
                              <thead>
                                  <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                      <th>{{ dataTable.headerRow[1] }}</th>
                                      <th>{{ dataTable.headerRow[2] }}</th>
                                      <th>{{ dataTable.headerRow[3] }}</th>
                                      <th>{{ dataTable.headerRow[4] }}</th>
                                      <th>{{ dataTable.headerRow[5] }}</th>
                                      <th>{{ dataTable.headerRow[6] }}</th>
                                      <th class="disabled-sorting text-right">{{ dataTable.headerRow[7] }}</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>{{ dataTable.footerRow[0] }}</th>
                                      <th>{{ dataTable.footerRow[1] }}</th>
                                      <th>{{ dataTable.footerRow[2] }}</th>
                                      <th>{{ dataTable.footerRow[3] }}</th>
                                      <th>{{ dataTable.footerRow[4] }}</th>
                                      <th>{{ dataTable.headerRow[5] }}</th>
                                      <th>{{ dataTable.headerRow[6] }}</th>
                                      <th class="text-right">{{ dataTable.footerRow[7] }}</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr *ngFor="let row of dataTable.dataRows">
                                        <td>{{row[0]}}</td>
                                      <td>
                                          <div class="user">
                                              <div class="photo">
                                                  <img src="{{row[7]}}" />
                                              </div>
                                          </div>
                                      </td>
                                      <td>{{row[2]}}</td>
                                      <td>{{row[3]}}</td>
                                      <td>{{row[4]}}</td>
                                      <td>{{row[5]}}</td>
                                      <td>{{row[10]}}</td>
                                      <td class="text-right">
                                          <a href="javascript:void(0)"
                                              class="btn btn-link btn-info btn-just-icon like" (click)="restoreCatClick(row)" *ngIf="isDeletedView"><i
                                                  class="material-icons">favorite</i></a>
                                          <a href="javascript:void(0)"
                                              class="btn btn-link btn-warning btn-just-icon edit" (click)="editCatClick(row)" *ngIf="!isDeletedView"><i
                                                  class="material-icons">edit</i></a>
                                          <a href="javascript:void(0)"
                                              class="btn btn-link btn-danger btn-just-icon remove" (click)="deleteCat(row)" *ngIf="!isDeletedView"><i
                                                  class="material-icons">close</i></a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
      <div class="row" *ngIf="addNewCat2">
          <div class="col-md-12">

              <div class="card ">
                  <div class="card-header card-header-rose card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">mail_outline</i>
                      </div>
                      <h4 class="card-title">Create New Sub Category</h4>
                  </div>
                  <div class="col-md-6 text-center">
                      <div class="card-body">
                          <form method="#" action="#">
                              <legend>Sub-Category Image</legend>
                              <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                  <div class="fileinput-new thumbnail">
                                      <img src="./assets/img/image_placeholder.jpg" alt="...">
                                  </div>
                                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                  <div>
                                      <span class="btn btn-rose btn-round btn-file">
                                          <span class="fileinput-new">Select image</span>
                                          <span class="fileinput-exists">Change</span>
                                          <input type="file" name="..." id="cat_image" />
                                      </span>
                                      <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                          data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                  </div>
                              </div>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sub Category Name" type="text" id="cat_name">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Sub Category Description" type="text" id="cat_desc">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput
                                      placeholder="Sub Category Meta Data (Related words separated by comma that are synonymous to this category)"
                                      type="text" id="cat_meta">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-select placeholder="Main Category" [(ngModel)]="newMainCategory" name="Main Category" ariaLabel="main_categories[0]">
                                    <mat-option *ngFor="let rl of main_categories" [value]="rl.name">
                                        {{ rl.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                          </form>
                      </div>

                      <div class="card-footer ">
                          <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                              (click)="categorySubmitClicked()">Submit</button>
                          <button mat-raised-button type="submit" class="btn btn-fill btn-danger"
                              (click)="cancelAddCat()">Cancel</button>
                      </div>
                  </div>
              </div>


          </div>
      </div>

      <div class="row" *ngIf="editCat">
              <div class="col-md-12">
  
                  <div class="card ">
                      <div class="card-header card-header-rose card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">mail_outline</i>
                          </div>
                          <h4 class="card-title">Update Category</h4>
                      </div>
                      <div class="col-md-6 text-center">
                          <div class="card-body">
                              <form method="#" action="#">
                                  <legend>Category Image</legend>
                                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                      <div class="fileinput-new thumbnail">
                                          <img src="{{currentCatRow[6]}}" alt="...">
                                      </div>
                                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                      <div>
                                          <span class="btn btn-rose btn-round btn-file">
                                              <span class="fileinput-new">Select image</span>
                                              <span class="fileinput-exists">Change</span>
                                              <input type="file" name="..." id="ucat_image" />
                                          </span>
                                          <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                              data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                      </div>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Category Name" type="text" id="ucat_name" value="{{currentCatRow[1]}}">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Category Description" type="text" id="ucat_desc" value="{{currentCatRow[2]}}">
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width">
                                      <input matInput
                                          placeholder="Category Meta Data (Related words separated by comma that are synonymous to this category)"
                                          type="text" id="ucat_meta" value="{{currentCatRow[8]}}">
                                  </mat-form-field>
                                  <mat-form-field>
                                    <mat-select placeholder="Main Category" [(ngModel)]="editMainCategory" name="Main Category" ariaLabel="main_categories[0]">
                                        <mat-option *ngFor="let rl of main_categories" [value]="rl.name">
                                            {{ rl.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                              </form>
                          </div>
  
                          <div class="card-footer ">
                              <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
                                  (click)="categoryUpdateClicked()">Update</button>
                              <button mat-raised-button type="submit" class="btn btn-fill btn-danger"
                                  (click)="cancelAddCat()">Cancel</button>
                          </div>
                      </div>
                  </div>
  
  
              </div>
          </div>
  </div>
</div>